
{% extends 'employee/main.html' %}
{% load static %}
 <html>  
 
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
      
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   
</head>  

<body> 
  {% block content %} 
<form method="POST"  action="{% url 'employee:emp' %}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-lg-1 col-form-label"></label>  
    <div class="col-lg-4">  
    <h3 style="color: red;">Enter Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-lg-2 col-form-label" style="color: blue;">Employee Id:</label>  
    <div class="col-lg-4">  
      {{ form.eid }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-lg-2 col-form-label" style="color: blue;">Employee Name:</label>  
    <div class="col-lg-4">  
      {{ form.ename }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-lg-2 col-form-label" style="color: blue;">Employee Email:</label>  
    <div class="col-lg-4">  
      {{ form.eemail }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-lg-2 col-form-label" style="color: blue;">Employee Contact:</label>  
    <div class="col-lg-4">  
      {{ form.econtact }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-lg-1 col-form-label"></label>  
    <div class="col-lg-4">  
    <button type="submit" class="btn btn-primary" style="background-color: #333;color: #f2f2f2;">Submit</button>
    </div>  
    
  </div>  
    </div>  
</form>
{% endblock content %}  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>  
</html> 


<!-- <html>
    <head>
        <title>index</title>
    </head>
    <body>
        <h1>This is form</h1>
        <form action="{% url 'emp' %}" method="POST">
            {% csrf_token %}
            <table>
            {{form}}
        </table>
        <input type="submit" value="submit">
        <button><a href="{% url 'show' %}">Show Employees</a></button>
        </form>
    </body>
</html> 